:root {
	--white: #ffffff;
	--gray-1: #cccccc;
	--gray-3: #f0f0f0;
	--purple: #6c5ce7;
	--purple-contrast: #5a4acf;
	--shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tiptap {
	min-height: 290px;
	padding: 1rem;
	border: none;
	border-radius: 0.5rem;
	background-color: var(--primary-color);
	font-family: Arial, sans-serif;
	line-height: 1.5;
	color: #333;
	margin: 0 0;

	* {
		text-align: left;
	}

	&-h1,
	&-h2,
	&-h3,
	&-h4,
	&-h5,
	&-h6 {
		margin: 1em 0;
		font-weight: bold;
	}

	&-p {
		margin: 1em 0;
	}

	&-ul,
	&-ol {
		margin: 1em 0;
		padding-left: 2em;
	}

	&-li {
		list-style-type: disc;
	}

	&-strong {
		font-weight: bold;
	}

	&-em {
		font-style: italic;
	}

	&-a {
		color: #007bff;
		text-decoration: none;
	}

	blockquote {
		border-left: 3px solid gray;
		margin: 1.5rem 0;
		margin-left: 1rem;
		padding-left: 1rem;
	}

	pre {
		background: black;
		border-radius: 0.5rem;
		color: white;
		font-family: 'JetBrainsMono', monospace;
		margin: 1.5rem 0;
		padding: 0.75rem 1rem;

		code {
			background: none;
			color: inherit;
			font-size: 0.8rem;
			padding: 0;
		}
	}
}

.tiptap:focus {
	border: none;
	outline: none;
}

.bubble-menu {
	background-color: var(--primary-color);
	border: 1px solid var(--gray-1);
	border-radius: 0.7rem;
	box-shadow: var(--shadow);
	display: flex;
	padding: 0.3rem;
	gap: 0.5rem;

	button {
		background-color: unset;
		border: none;

		&:hover {
			background-color: var(--gray-3);
		}

		&.is-active {
			background-color: var(--purple);

			&:hover {
				background-color: var(--purple-contrast);
			}
		}
	}
}

.floating-menu {
	display: flex;
	background-color: var(--primary-color);
	padding: 0.1rem;
	border-radius: 0.5rem;

	* {
		font-weight: 800;
	}

	button {
		background-color: var(--primary-color);
		padding: 0.275rem 0.425rem;
		border-radius: 0.3rem;
		border: none;
		gap: 0.5rem;
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

		&:hover {
			background-color: var(--gray-3);
		}

		&.is-active {
			background-color: var(--white);
			color: var(--purple);

			&:hover {
				color: var(--purple-contrast);
			}
		}
	}
}

.showMenu-button {
	background-color: white;
	padding: 0.275rem 0.425rem;
	border-radius: 0.3rem;
	border: none;
	gap: 0.5rem;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.undo-redo-container {
	display: flex;
	justify-content: flex-end;
	padding-right: 2rem;
	width: 100%;
	gap: 2rem;
	border-radius: 10px;

	button {
		font-size: larger;
		background-color: transparent;
		border: none;
	}
}

p.is-editor-empty:first-child::before {
	color: var(--text-color);
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
	font-size: large;
	font-weight: 600;
	font-family: 'Times New Roman', Times, serif;
	margin-left: 2.5rem;
}
.is-empty::before {
	color: var(--text-color);
	content: 'Add something new~';
	float: left;
	height: 0;
	pointer-events: none;
	font-size: large;
	font-weight: 600;
	font-family: 'Times New Roman', Times, serif;
	margin-left: 2.5rem;
}
