:root {
	--primary-color: #f0f5f9;
	--background-color: #c9d6df;
	--text-color: #333333;
	--primary-color-hover: #53354a;
}

[data-theme='dark'] {
	--primary-color: #393e46;
	--background-color: #222831;
	--text-color: #c9d6df;
	--primary-color-hover: #53354a;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	transition: background-color 0.3s, color 0.3s;
}

* {
	margin: 0;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

a {
	color: var(--text-color);
	font-weight: 600;
	padding: 0.5rem 0;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #52616b;
}

header {
	width: 100%;
	height: 4rem;
	display: flex;
	align-items: center;
	background-color: var(--primary-color);
	padding: 0 2rem;
}

header .site-logo {
	color: black;
	margin-right: auto;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 25px;
}

.site-logo span {
	color: #ffd460;
}

header a {
	padding: 1rem 1rem;
	font-size: large;
}

.deck {
	width: 90%;
	background-color: var(--primary-color);
	margin: 2rem auto;
	border-radius: 5px;
	display: flex;
	padding: 1rem 1rem;
	position: relative;
}

.deck-cover {
	border-radius: 5px;
	height: 7rem;
	width: 6rem;
}

.deck-info {
	width: 70%;
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	h3 {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}
	p {
		font-weight: 600;
		user-select: none;
		font-family: 'Courier New', Courier, monospace;
		span {
			color: #ffd460;
			font-size: 1.2rem;
			user-select: none;
		}
	}
}
.progress-bar {
	background-color: #ffd460;
	height: 10px;
	width: 100%;
	border-radius: 5px;
	position: relative;

	div {
		position: absolute;
		height: 10px;
		border-radius: 5px;
		background-color: #f07b3f;
	}

	span {
		font-size: 10px;
		font-weight: 1000;
		position: relative;
		top: -10px;
		display: inline-block;
		height: 10px;
		user-select: none;
		color: #222831;
	}
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: fit-content;
	background-color: var(--primary-color);
}

.footer-nav {
	height: 3rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-nav a {
	width: 8rem;
	padding: 0.5rem 2rem;
}

.create-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 1rem 2rem;

	button {
		height: 2rem;
		width: 4rem;
		border: none;
		background-color: #fce38a;
		border-radius: 1rem;

		&:hover {
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
		}
		&:active {
			transform: translate(1px, 1px);
		}
	}
}

.deck-title-input {
	height: 2.5rem;
	width: 80%;
	border: unset;
	border-radius: 5px;
	font-size: medium;
	font-weight: 500;
	text-align: left;
	padding-left: 1rem;
}

.deck-title-input:focus {
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
	outline: none;
}

.cover-container {
	background-color: var(--primary-color);
	width: 80%;
	height: 70vh;
	margin: 1rem auto;
	text-align: left;
	padding: 1.5rem;
	border-radius: 5px;
	overflow-y: scroll;
	display: flex;
	flex-wrap: wrap;
}

.cover-container p {
	background-color: transparent;
	font-size: large;
	font-weight: 600;
	height: 1.8rem;
	width: 100%;
}

.add-cover {
	height: 10rem;
	width: 7rem;
	margin: 1.5rem;
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	background-color: var(--primary-color);
}

.cover {
	height: 10rem;
	width: 7rem;
	border-radius: 8px;
}

.dashboard {
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 2rem auto;
}

.dashboard-card {
	height: 12rem;
	width: 12rem;
	background-color: var(--primary-color);
	border-radius: 5px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dashboard-card:hover {
	cursor: pointer;
}

.cover-frame {
	position: relative;
	margin: 1.5rem;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 10rem;
	width: 7rem;
	border-radius: 8px;
	font-size: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
}

.notification {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	color: #222831;
	font-size: larger;
	font-weight: 600;
	font-family: Kanit;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 110%;
	border-radius: 8px;
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
	animation: slide-down 300ms ease forwards;
	overflow: hidden;
}

@keyframes slide-down {
	from {
		height: 0;
	}
	to {
		height: 3rem;
	}
}

.slide-up {
	animation: slide-up 0.3s forwards;
}

@keyframes slide-up {
	from {
		height: 3rem;
	}
	to {
		height: 0;
	}
}

.notification.success {
	background-color: #95e1d3;
}

.notification.warning {
	background-color: #fce38a;
}

.notification.error {
	background-color: #f38181;
}

.menu {
	position: relative;
	width: 8rem;
}

.menu-button {
	background-color: transparent;
	padding: 0.2rem 0.5rem;
	border-radius: 5px;
	width: 50%;
	height: 2rem;
	border: none;
	cursor: pointer;
	z-index: 2;
	position: relative;
	color: #4d4d4d;
	font-weight: 600;
	overflow: hidden;

	&:hover {
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
	}
}

.menu-dropdown {
	position: absolute;
	left: 0;
	background-color: var(--primary-color);
	border: 1px solid gray;
	border-radius: 6px;
	width: 100%;
	border: none;
	z-index: 2;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.menu-item {
	padding: 0, 0.5rem;
	color: var(--text-color);
	font-weight: 600;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
	background-color: transparent;
	width: 100%;
	height: 3rem;
	border: none;
	overflow: hidden;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);

	&:hover {
		background-color: var(--primary-color-hover);
	}

	* {
		flex-grow: 1;
	}
}

.menu-close {
	position: fixed;
	background-color: transparent;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1;
}

.create-card-header {
	margin: 1rem 0;
	display: flex;
	justify-content: space-between;

	.menus {
		display: flex;
		gap: 1rem;
	}
	.save-button {
		font-size: 1.5rem;
		background-color: transparent;
		border: none;
		cursor: pointer;
	}

	.save-button:active {
		transform: translateX(1px) translateY(1px);
	}
	.save-button:hover {
		transform: translateX(1px) translateY(1px);
	}
}

.note-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem 4rem;
}

.note-card textarea {
	border: none;
	border-radius: 5px;
	font-family: 'Courier New', Courier, monospace;
	text-align: left;
	padding: 1.5rem;
	font-weight: 600;
	font-size: larger;
	resize: none;
}

.note-card textarea:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.note-card .note-card-title {
	height: 20vh;
}

.note-card .note-card-summary {
	margin-top: 2px;
	height: 40vh;
}

.create-card-footer {
	position: relative;
	margin-top: 3rem;
}

.create-card-footer,
.font-bar {
	width: 100%;
	padding: 0 4rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.create-card-page {
	margin: 1rem 3rem;
}

.note-page {
	height: 80vh;
	border-radius: 10px;
}

.active-link {
	color: #f07b3f;
	text-decoration: underline;
	&:hover {
		color: #f07b3f;
	}
}

.deck-tag-setting {
	display: flex;
	flex-shrink: 1;
	align-items: center;
	margin: 1rem auto;
	width: 80%;
	gap: 1rem;
	.deck-tag-input {
		height: 2rem;
		width: 7rem;
		border: none;
		border-radius: 5px;
		text-align: left;
		padding-left: 1rem;
		&:focus {
			outline: none;
			box-shadow: 0 0 4px #ea5455;
		}
	}
	.deck-tag-color-button-container {
		width: 10rem;
		display: flex;
		font-size: 1.5rem;
		gap: 0.5rem;
		.tag-color-button {
			height: fit-content;
			border-radius: 50%;
			line-height: 1;
			display: inline-block;
			&:hover {
				box-shadow: 0 0 4px #ea5455;
			}
		}
		.selected-color {
			transform: scale(1.2);
			box-shadow: 0 0 4px #ea5455;
		}
	}
	.add-deck-tag-button {
		border: none;
		border-radius: 1rem;
		height: 2rem;
		width: 4rem;
		background-color: #ffd460;
		font-weight: 600;
		&:hover {
			box-shadow: 0 0 4px #ea5455;
		}
		&:active {
			transform: translate(1px, 1px);
		}
	}
}

.tags-container {
	display: flex;
	width: 80%;
	margin: 1rem auto;
	gap: 1rem;
	.tag {
		padding: 0.2rem 0.5rem;
		font-weight: 500;
		color: black;
		border-radius: 5px;
		user-select: none;
		position: relative;
		&:hover {
			box-shadow: 0 0 4px #ea5455;
			&::after {
				content: '×';
				position: absolute;
				top: 0;
				right: 2px;
				font-size: 8px;
				color: black;
			}
		}
	}
}
.tag {
	padding: 0.2rem;
	margin: 0 0.2rem;
	width: min-content;
	border-radius: 5px;
	white-space: nowrap;
	user-select: none;
	font-weight: 500;
	font-family: 'Times New Roman', Times, serif;
	color: black;
}
.upload-image-container {
	position: absolute;
	padding: 1rem;
	border-radius: 5px;
	z-index: 4;
	width: 15rem;
	height: 5rem;
	top: calc(50% - 7.5rem);
	left: calc(50% - 7.5rem);
	input {
		height: 2rem;
		border: none;
		border-radius: 5px;
		text-align: left;
		padding-left: 1rem;
		margin: 1rem;
		&:focus {
			outline: none;
			box-shadow: 0 0 4px #ea5455;
		}
	}
	button {
		border: none;
		border-radius: 1rem;
		height: 2rem;
		width: 4rem;
		margin-left: 0.5rem;
		background-color: #ffd460;
		font-weight: 600;
		&:hover {
			box-shadow: 0 0 4px #ea5455;
		}
		&:active {
			transform: translate(1px, 1px);
		}
	}
}

.close-margin {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(8px);
	height: 100%;
	width: 100%;
	z-index: 3;
}

.editor {
	border-radius: 10px;
	overflow: auto;
	height: 50%;
	border: 1px black solid;
	margin: 1rem 0;
	background-color: transparent;
}

.deck-info-tags-container {
	display: flex;
	max-width: 8rem;
	overflow-x: auto;
	white-space: nowrap;
}

.home-page-tags-container {
	width: 100%;
	display: flex;
	overflow-x: auto;
	white-space: nowrap;
	.tag {
		width: min-content;
	}
}

.login-form {
	width: 50%;
	height: 80%;
	margin: 8rem auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	* {
		font-weight: 600;
	}

	img {
		height: 10rem;
		width: 10rem;
		border-radius: 50%;
		margin: 1rem auto;
	}

	input {
		height: 2.3rem;
		width: 100%;
		border: none;
		border-radius: 5px;

		&:focus {
			outline: none;
		}
	}

	button {
		height: 2.3rem;
		width: 100%;
		border: none;
		border-radius: 1.15rem;
		background-color: #f07b3f;
		cursor: pointer;
		&:active {
			transform: translate(1px, 1px);
		}
	}
}

.loading-page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	i {
		font-size: 7rem;
		animation: rotate 1.5s infinite;
	}
	h1 {
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
			sans-serif;
	}
}

@keyframes rotate {
	from {
		rotate: 0deg;
	}
	to {
		rotate: 360deg;
	}
}
